{%extends "AdminLayout.html"%}
{%block body%}

<div class="main">
    <div class="white_card mb_30">
        <div class="white_card_header">
            <div class="box_header m-0 d-flex justify-content-between">
                <div>
                    <div class="main-title">
                        <h3 class="m-0">All Interanl Events</h3>
                    </div>
                    <div class="erning_btn d-flex">
                        <a href="#" class="small_blue_btn radius_0 border-right-0">TechClub</a>
                        <a href="#" class="small_blue_btn radius_0"></a>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary"><a href="/admin/add_event_page" style="color: white; text-decoration: none;">Add New Event</a></button>
                </div>
            </div>
        </div>
        <div class="white_card_body">
            <div class="QA_section">
                <div class="QA_table mb-0">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                        <table class="table lms_table_active2 dataTable no-footer dtr-inline" id="DataTables_Table_0"
                            role="grid" style="width: 80vw;">
                            <thead>
                                <tr role="row">
                                    <th scope="col" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0"
                                        rowspan="1" colspan="1" style="width: 35.2px;" aria-sort="ascending"
                                        aria-label="NO: activate to sort column descending">Event ID</th>
                                    <th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                        rowspan="1" colspan="1" style="width: 83px;"
                                        aria-label="Currency: activate to sort column ascending">Event Name</th>
                                    <th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                        rowspan="1" colspan="1" style="width: 108px;"
                                        aria-label="Plateform: activate to sort column ascending">Created At</th>
                                    <th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                        rowspan="1" colspan="1" style="width: 115px;"
                                        aria-label="Email: activate to sort column ascending">Status</th>
                                    <th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                        rowspan="1" colspan="1" style="width: 115px;"
                                        aria-label="Email: activate to sort column ascending">Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%if allevents%}
                                {%for s in allevents%}
                                <tr role="row" claFss="odd">
                                    <td scope="row" tabindex="0" class="sorting_1">{{s[0]}}</td>
                                    <td>{{s[1]}}</td>
                                    <td>{{s[12]}}</td>
                                    {%if s[10]== 1 %}
                                    <td><a href="#" class="status_btn pending_btn"
                                            style="background-color: rgba(17, 206, 13, 0.5);" X>Open</a></td>
                                    {%else%}
                                    <td><a href="#" class="status_btn pending_btn"
                                            style="background-color: rgba(203, 28, 28, 0.5);">Closed</a></td>
                                    {%endif%}
                                    <td style="text-align: center;"><a href="/update_event">update</a></td>
                                </tr>
                                {%endfor%}
                                {%endif%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock body%}