{%extends "AdminLayout.html"%}
{%block body%}

<div class="main">
    <div class="white_card mb_30">
        <div class="white_card_header">
            <div class="box_header m-0 d-flex justify-content-between">
                <div>
                    <div class="main-title">
                        <h3 class="m-0">All Interanl Events</h3>
                    </div>
                    <div class="erning_btn d-flex">
                        <a href="#" class="small_blue_btn radius_0 border-right-0">TechClub</a>
                        <a href="#" class="small_blue_btn radius_0"></a>
                    </div>
                </div>
                <div>
                    <button class="btn btn-secondary"><a href="/admin/add_event_page" style="color: white; text-decoration: none;">Add New Event</a></button>
                </div>
            </div>
        </div>
        <div class="white_card_body">
            <div class="QA_section">
              <div class="QA_table mb-0">
                <table class="table">
                  <thead class="thead-dark">
                    <tr style="background-color: rgba(0, 0, 0, 0.938);">
                      <th scope="col" class="color: white;">Title</th>
                      <th scope="col" class="color: white;">Category</th>
                      <th scope="col" class="color: white;">Registration Date</th>
                      <th scope="col" class="color: white;">Competition Date</th>
                      <th scope="col" class="color: white;">Creted On</th>
                      <th scope="col" class="color: white;">Status</th>
                      <th scope="col" class="color: white;">Update</th>
                    </tr>
                  </thead>
                  <tbody>
                    {%if allevents%}
                    {%for e in allevents%}
                    <tr>
                      <td scope="row">{{e[1]}}</td>
                      <td>{{e[3]}}</td>
                      <td>{{e[11]}}</td>
                      <td>{{e[13]}}</td>
                      <td>{{e[15]}}</td>
                      <td>open</td>
                      <td class="text-center "><button class="btn btn-success" id="updateEventButton" value="{{e[0]}}">Update</button>
                      </td>
                    </tr>
                    {%endfor%}
                    {%endif%}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
    </div>
</div>
{%endblock body%}