{%extends "AdminLayout.html"%}
{%block body%}
<div class="main">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Roll No</th>
        <th scope="col">Name of Student</th>
        <th scope="col">Divison</th>
        <th scope="col">Topic</th>
        <th scope="col">Date</th>

      </tr>
    </thead>
    <tbody>
      {% for Fieldwork in filed %}


      <tr>


        <td>{{Fieldwork.rno }}</td>
        <td>{{Fieldwork.name }}</td>
        <td>{{Fieldwork.divi }}</td>
        <td>{{Fieldwork.topic }}</td>
        <td>{{Fieldwork.regist_at }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
{%endblock body%}