{%extends "AdminLayout.html"%}
{%block body%}
<div class="main">
    <div class="white_card mb_30">
        <div class="white_card_header">
            <div class="box_header m-0 header-bar">
                <div class="main-title">
                    <h3 class="m-0">Management Event Registration</h3>
                </div>
                <div class="erning_btn d-flex">
                    <form action="/admin/student" method="post">
                        <select class="mx-2 sort-group" name="filtername">
                            <option value="user_id">SID</option>
                            <option value="first_name">First Name</option>
                            <option value="last_name">Last Name</option>
                            <option value="user_email">Email</option>
                            <option value="created_at">Date</option>
                            <option value="confirm_status">Confirm</option>
                        </select>
                        <button type="submit" class="btn btn-secondary">Sort</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="white_card_body">
            <div class="QA_section">
                <div class="QA_table mb-0">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                        <table class="table lms_table_active2 dataTable no-footer dtr-inline" id="DataTables_Table_0"
                            role="grid" style="width: 80vw;">
                            <thead>
                                <tr role="row" style="background-color: black;">
                                    <th scope="col" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0"
                                        rowspan="1" colspan="1" style="width: 35.2px;" aria-sort="ascending"
                                        aria-label="NO: activate to sort column descending">Register id</th>
                                    <th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                        rowspan="1" colspan="1" style="width: 83px;"
                                        aria-label="Currency: activate to sort column ascending">Roll No</th>
                                    <th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                        rowspan="1" colspan="1" style="width: 108px;"
                                        aria-label="Plateform: activate to sort column ascending"> Class</th>
                                    <th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                        rowspan="1" colspan="1" style="width: 115px;"
                                        aria-label="Email: activate to sort column ascending">Mobile No</th>
                                    <th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                        rowspan="1" colspan="1" style="width: 77px;"
                                        aria-label="Amount: activate to sort column ascending">Register At</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%if data%}
                                {%for s in data%}
                                <tr role="row" class="odd">
                                    <td scope="row" tabindex="0" class="sorting_1">{{s[0]}}</td>
                                    <td>{{s[1]}}</td>
                                    <td>{{s[2]}}</td>
                                    <td>{{s[3]}}</td>
                                    <td>{{s[4]}}</td>
                                </tr>
                                {%endfor%}
                                {%endif%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock body%}