{%extends "AdminLayout.html"%}
{%block body%}
{%block custscript%}
<script>

</script>
{%endblock custscript%}
<div class="main">
  <div class="white_card mb_30">
    <div class="white_card_header">
      <div class="box_header m-0 header-bar">
        <div class="main-title">
          <h3 class="m-0">TechClub Users</h3>
        </div>
        <div class="erning_btn d-flex">
          <form action="/admin/student" method="post">
            <select class="mx-2 sort-group" name="filtername">
              <option value="user_id">SID</option>
              <option value="first_name">First Name</option>
              <option value="last_name">Last Name</option>
              <option value="user_email">Email</option>
              <option value="created_at">Date</option>
              <option value="confirm_status">Confirm</option>
            </select>
            <button type="submit" class="btn btn-secondary">Sort</button>
            <button class="btn btn-secondary"><a href="#" style="text-decoration: none; color: white;">Report</a></button>
          </form>
        </div>
      </div>
    </div>
    <div class="white_card_body">
      <div class="QA_section">
        <div class="QA_table mb-0">
          <table class="table">
            <thead class="thead-dark">
              <tr style="background-color: rgba(0, 0, 0, 0.938);">
                <th scope="col" class="color: white;">SID</th>
                <th scope="col" class="color: white;">First</th>
                <th scope="col" class="color: white;">Last</th>
                <th scope="col" class="color: white;">Email</th>
                <th scope="col" class="color: white;">Password</th>
                <th scope="col" class="color: white;">Reg.At</th>
                <th scope="col" class="color: white;">Update</th>
              </tr>
            </thead>
            <tbody>
              {%if student%}
              {%for s in student%}
              <tr>
                <td scope="row">{{s[0]}}</td>
                <td>{{s[1]}}</td>
                <td>{{s[2]}}</td>
                <td>{{s[3]}}</td>
                <td>{{s[4]}}</td>
                <td>{{s[6]}}</td>
                {%if s[5] == "1"%}
                <td class="text-center "><button class="btn btn-danger" id="unbanButton" value="{{s[0]}}">unban</button>
                </td>
                {%else%}
                <td class="text-center "><button class="btn btn-danger" id="banButton" value="{{s[0]}}">ban</button>
                </td>

                {%endif%}
              </tr>
              {%endfor%}
              {%endif%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{%block adminjs%}
<script>
  const banButton = document.getElementById("banButton");

  banButton.addEventListener('click', async (e) => {
    e.preventDefault();

    banButton.innerText = "process"
    const res = await fetch(`/admin/student/ban-student/${banButton.value}`,
      {
        method: "post"
      }
    );
    console.log(res);
    banButton.innerText = "ban"
  })
</script>
{%endblock adminjs%}
{%endblock body%}