{% extends "Layout.html"%}
{% block Title%} Home Page {%endblock Title%}
{% block body%}
<div class="py-5 bg-primary hero-header mb-5">
</div>
<div class="container my-4">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% if events %}
        {% for item in events %}
        <div class="col">
            <div class="card">
                <img src='static/img/ml.jpg' class="card-img-top" alt="..."
                    style="height: 13pc;">
                <div class="card-body">
                    <h5 class="card-title">{{item[1]}}</h5>
                    <p class="card-text">{{item[2][0:100]}}</p>
                    {%if item[10]==0%}
                    <a href='/single_page/{{item[0]}}' class="btn btn-primary disabled"
                        rel="noopener noreferrer">More</a>
                    {%else%}
                    <a href='/single_page/{{item[0]}}' class="btn btn-primary" rel="noopener noreferrer">More</a>
                    {%endif%}
                </div>
            </div>
        </div>
        {% endfor %}
        {%else%}
        <div class="d-flex align-item-center">
            <div class="alert alert-success">
                <strong>No Event!</strong> There is No Event Is Live Inside The College Currently
            </div>
        </div>
        {% endif%}

    </div>
</div>

{% endblock body %}