{% extends "Layout.html"%}
{% block Title%} Home Page {%endblock Title%}

<!-- writing custom css for learning-path page  -->
{%block custmcss%}
<style>

</style>
{%endblock custmcss%}

<!-- writing custom JavaScript logic and api call for learning-path page  -->
{%block custmjs%}
<script>

    // Initilizing state of learning path page 
    let learningState = {
        firstYear: [
        ],
        secondYear: [],
        ThirdYear: []
    }

    // Fetching Data From Api Year Wise 
    const firstYear = async () => {
        const url = 'https://youtube-v31.p.rapidapi.com/playlistItems?playlistId=PLhQjrBD2T380F_inVRXMIHCqLaNUd7bN4&part=snippet&maxResults=50';
        const options = {
            method: 'GET',
            headers: {
                'X-RapidAPI-Key': '3c05e5717fmshb9cb14ced90af95p16376fjsn703abfabb9f2',
                'X-RapidAPI-Host': 'youtube-v31.p.rapidapi.com'
            }
        };

        try {
            const response = await fetch(url, options);
            const result = await response.json();
            learningState.firstYear.push(result.items)
            console.log(learningState)
        } catch (error) {
            console.error(error);
        }
    }

    // calling all function when page load 
    // firstYear()

    // displaying first year course 
    let fy = document.getElementById("firstyear")
    str = '';

    for (course in learningState.firstYear) {
        str += `
                 <div class="col">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                `;
    }
    fy.innerHTML = str;

</script>
{%endblock custmjs%}

{% block body%}
<div class="py-5 bg-primary hero-header mb-5"></div>

<section class="yearwise">
    <div class="container">
        <section class="first-year">
            <div class="secheading">
                <div class="d-flex align-items-center">
                    <h2>1st Year Computer Science</h2>
                    <marquee behavior="alternate" direction="right" style="width: 50%;" class="mx-4"><b>Welcome Coder's
                        </b>
                    </marquee>
                </div>
                <div class="d-flex">
                    <p class="mr-4">Your Welcome In The World Of Computer Science. </p>
                    <a href="" class="mx-4">Explore More</a>
                </div>
            </div>
            <div class="secmain">
                <div class="row row-cols-1 row-cols-md-5 g-4" id="firstyear">

                </div>
            </div>
    </div>
</section>
</div>

<!-- Slider Section for Playlist Important for student  -->

</section>

{%endblock body%}