{% extends "Layout.html"%}
{% block Title%} Home Page {%endblock Title%}

<!-- writing custom css for learning-path page  -->
{%block custmcss%}
<style>

</style>
{%endblock custmcss%}

<!-- writing custom JavaScript logic and api call for learning-path page  -->
{%block custmjs%}
<script>

    // Initilizing state of learning path page 
    let learningState = {
        firstYear: [],
        secondYear: [],
        ThirdYear: []
    }

    // Fetching Data From Api Year Wise 
    const firstYear = async () => {
        const url = 'https://youtube-v31.p.rapidapi.com/playlistItems?playlistId=PLhQjrBD2T380F_inVRXMIHCqLaNUd7bN4&part=snippet&maxResults=50';
        const options = {
            method: 'GET',
            headers: {
                'X-RapidAPI-Key': '3c05e5717fmshb9cb14ced90af95p16376fjsn703abfabb9f2',
                'X-RapidAPI-Host': 'youtube-v31.p.rapidapi.com'
            }
        };

        try {
            const response = await fetch(url, options);
            const result = await response.json();
            learningState.firstYear.push(result.items)
            console.log(learningState)
        } catch (error) {
            console.error(error);
        }
    }

    // calling all function when page load 
    // firstYear()

</script>
{%endblock custmjs%}

{% block body%}
<div class="py-5 bg-primary hero-header mb-5"></div>

<section class="yearwise">
    <div class="container">
        <section class="first-year">
            <div class="secheading">
                <div class="d-flex align-items-center">
                    <h2>1st Year Computer Science</h2>
                    <marquee behavior="alternate" direction="right" style="width: 50%;" class="mx-4"><b>Welcome Coder's
                        </b>
                    </marquee>
                </div>
                <div class="d-flex">
                    <p class="mr-4">Your Welcome In The World Of Computer Science. </p>
                    <a href="" class="mx-4">Explore More</a>
                </div>
            </div>
            <div class="secmain">
                <div class="intro-to-cs">
                    <!-- Carousel wrapper -->
                    <div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center"
                        data-mdb-ride="carousel">
                        <!-- Controls -->
                        <div class="d-flex justify-content-center mb-4">
                            <button class="carousel-control-prev position-relative" type="button"
                                data-mdb-target="#carouselMultiItemExample" data-mdb-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next position-relative" type="button"
                                data-mdb-target="#carouselMultiItemExample" data-mdb-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <!-- Inner -->
                        <div class="carousel-inner py-4">
                            <!-- Single item -->
                            <div class="carousel-item active">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="card">
                                                <!-- <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/181.webp"
                                                    class="card-img-top" alt="Waterfall" /> -->
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">
                                                        Some quick example text to build on the card title and make up
                                                        the bulk
                                                        of the card's content.
                                                    </p>
                                                    <a href="#!" class="btn btn-primary">Button</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 d-none d-lg-block">
                                            <div class="card">
                                                <!-- <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp"
                                                    class="card-img-top" alt="Sunset Over the Sea" /> -->
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">
                                                        Some quick example text to build on the card title and make up
                                                        the bulk
                                                        of the card's content.
                                                    </p>
                                                    <a href="#!" class="btn btn-primary">Button</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 d-none d-lg-block">
                                            <div class="card">
                                                <!-- <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/183.webp"
                                                    class="card-img-top" alt="Sunset over the Sea" /> -->
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">
                                                        Some quick example text to build on the card title and make up
                                                        the bulk
                                                        of the card's content.
                                                    </p>
                                                    <a href="#!" class="btn btn-primary">Button</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Single item -->
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-12">
                                            <div class="card">
                                                <!-- <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"
                                                    class="card-img-top" alt="Fissure in Sandstone" /> -->
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">
                                                        Some quick example text to build on the card title and make up
                                                        the bulk
                                                        of the card's content.
                                                    </p>
                                                    <a href="#!" class="btn btn-primary">Button</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 d-none d-lg-block">
                                            <div class="card">
                                                <!-- <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/185.webp"
                                                    class="card-img-top" alt="Storm Clouds" /> -->
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">
                                                        Some quick example text to build on the card title and make up
                                                        the bulk
                                                        of the card's content.
                                                    </p>
                                                    <a href="#!" class="btn btn-primary">Button</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 d-none d-lg-block">
                                            <div class="card">
                                                <!-- <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/186.webp"
                                                    class="card-img-top" alt="Hot Air Balloons" /> -->
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">
                                                        Some quick example text to build on the card title and make up
                                                        the bulk
                                                        of the card's content.
                                                    </p>
                                                    <a href="#!" class="btn btn-primary">Button</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Single item -->
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                                            <div class="card">
                                                <!-- <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/187.webp"
                                                    class="card-img-top" alt="Peaks Against the Starry Sky" /> -->
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">
                                                        Some quick example text to build on the card title and make up
                                                        the bulk
                                                        of the card's content.
                                                    </p>
                                                    <a href="#!" class="btn btn-primary">Button</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                                            <div class="card">
                                                <!-- <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/188.webp"
                                                    class="card-img-top" alt="Bridge Over Water" /> -->
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">
                                                        Some quick example text to build on the card title and make up
                                                        the bulk
                                                        of the card's content.
                                                    </p>
                                                    <a href="#!" class="btn btn-primary">Button</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                                            <div class="card">
                                                <!-- <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/189.webp"
                                                    class="card-img-top" alt="Purbeck Heritage Coast" /> -->
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">
                                                        Some quick example text to build on the card title and make up
                                                        the bulk
                                                        of the card's content.
                                                    </p>
                                                    <a href="#!" class="btn btn-primary">Button</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Inner -->
                    </div>
                    <!-- Carousel wrapper -->
                </div>
            </div>
        </section>
    </div>

    <!-- Slider Section for Playlist Important for student  -->

</section>

{%endblock body%}