<form class="text-center border border-light p-5" method="post"
action="/hackathon/user_registration/{{hack[0]}}">

<p class="h4 mb-4">{{hack[1]}} Registration</p>

<div class="form-row mb-4">
    <div class="col my-3">
        <!-- First name -->
        <input type="text" id="defaultRegisterFormFirstName" class="form-control" name="flname"
            placeholder="Full Name" required>
    </div>
    <div class="col my-3">
        <!-- last name -->
        <input type="number" id="defaultRegisterFormFirstName" class="form-control" name="rno"
            placeholder="Roll No" required>
    </div>
    <div class="col my-3">
        <!-- member 1 name -->
        <input type="text" id="defaultRegisterFormFirstName" class="form-control" name="tname"
            placeholder="Topic Name" required>
    </div>
    <div class="col my-3">
        <!-- member 3 name -->
        <input type="text" id="defaultRegisterFormFirstName" class="form-control" name="m2name"
            placeholder="Member2 Name" required>
    </div>
    <div class="col my-3">
        <!-- member 3 name -->
        <input type="text" id="defaultRegisterFormLastName" class="form-control" name="m3name"
            placeholder="Member3 name" required>
    </div>
    <div class="col my-3">
        <!-- member 4 name -->
        <input type="text" id="defaultRegisterFormLastName" class="form-control" name="m4name"
            placeholder="Member4 name" required>
    </div>
</div>
<div class="col my-3">
    <!-- project name -->
    <input type="text" id="defaultRegisterFormLastName" class="form-control" name="pname"
        placeholder="Project Idea name" required>
</div>

<div class="col my-3">
    <!-- project name -->
    <input type="text" id="defaultRegisterFormLastName" class="form-control" name="tech"
        placeholder="Tech Name like NLP,ML,Blockchain" required>
</div>
<button class="btn btn-info my-4 btn-block" type="submit">Register</button>
</form> 