{% extends "Layout.html"%}
{% block Title%} {{id}} {%endblock Title%}

{% block body%}
<div class="py-5 bg-primary hero-header mb-5"></div>
{%if msg%}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success</strong> {{msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{%elif error%}
<div class="alert alert-danger" role="alert">
    {{error}}
    {{err}}
</div>
{%else%}
{%endif%}
{%if hack%}
<div class="container my-4 d-flex align-item-center justify-content-center flex-column">
    <div class="container-md my-4">
        <div class="row hack-details">
            <div class="col-sm-2 mb-4">
                <picture>
                    <img class="rounded-circle shadow-sm" style="width: 70%;" src='/static/{{hack[4]}}' alt={{hack[4]}}>
                </picture>
            </div>
            <div class="col-sm-6 col-md-7">
                <h1>
                    {{hack[1]}}
                </h1>
                <p class="details">
                    {{hack[2]}} <a href="#about-link" class="text-muted font-weight-bold">view more...</a>
                </p>
            </div>

            <!-- about session  -->
            <div class="container-md">
                <h1 class="my-4">About</h1>
                <p>
                    {{hack[2]}}
                </p>
            </div>

            <!-- Object Session  -->
            <div class="cotainer-md">
                <h1 class="my-4">Objectives :</h1>
                <ol type="dot">
                    {%for i in hack[5].split(',')%}
                    <li class="my-2" style="color: black;">{{i}}</li>
                    {%endfor%}
                </ol>
            </div>

            <!-- Technologies Used  -->
            {% if hack[6] != 'none'%}
            <div class="container-md">
                <h1 class="my-4">Technologies Used :</h1>
                <div class="d-flex">
                    {%for i in hack[6].split(',')%}
                    <div style="padding: 5px 15px; border: 1px solid;" class="mx-2">{{i}}</div>
                    {%endfor%}
                </div>
            </div>
            {%else%}
            {%endif%}

            {%if hack[7] != 'none'%}
            <!-- Phases Of Events  -->
            <div class="container-md">
                <h1 class="my-4">
                    Phases :
                </h1>
                <p>
                    {%for p in hack[7].split(',')%}
                <div class="d-flex">
                    <h2 style="color: purple;">Phase : </h2>
                    <h3 class="mx-3">{{p}}</h3>
                </div>
                {%endfor%}

                </p>
            </div>
            {%else%}
            {%endif%}

            {%if hack[8] != 'none'%}
            <!-- Rules Of Event  -->
            <div class="container-md">
                <h1 class="my-4">Rules Of {{hack[1]}}</h1>
                {%for r in hack[8].split(',')%}
                <div class="d-flex">
                    <h3 style="color: purple;">Rule :</h3>
                    <b class="mx-3">{{r}}</b>
                </div>
                {%endfor%}
            </div>
            {%else%}
            {%endif%}

            <!-- schedule of Hackathon  -->
            {%if hack[9] != 'none'%}
            <div class="container my-4">
                <h1 class="my-2">Schedule of Hackathon :</h1>
                <div class="container bootstrap snippets bootdeys">
                    <div class="col-md-9" style="margin: auto;">
                        <div class="timeline-centered timeline-sm">
                            <article class="timeline-entry">
                                <div class="timeline-entry-inner">
                                    <time datetime="2014-01-10T03:45" class="timeline-time"><span>13 Feb 2023
                                        </span><span>Monday</span></time>
                                    <div class="timeline-icon bg-violet"><i class="fa fa-exclamation"></i></div>
                                    <div class="timeline-label">
                                        <h4 class="timeline-title">Registration Open</h4>
                                    </div>
                                </div>
                            </article>
                            <article class="timeline-entry left-aligned">
                                <div class="timeline-entry-inner">
                                    <time datetime="2014-01-10T03:45" class="timeline-time"><span>17 Feb 2023
                                        </span><span>Friday</span></time>
                                    <div class="timeline-icon bg-pink"><i class="fa fa-group"></i></div>
                                    <div class="timeline-label bg-pink">
                                        <h4 class="timeline-title">Idea Submission</h4>

                                        <!-- <p>Submit your selected idea with problem statement and solution on it.</p> -->
                                    </div>
                                </div>
                            </article>
                            <article class="timeline-entry">
                                <div class="timeline-entry-inner">
                                    <time datetime="2014-01-09T13:22" class="timeline-time"><span>20 Feb 2023
                                        </span><span>Monday</span></time>
                                    <!-- <div class="timeline-icon bg-orange"><i class="fa fa-paper-plane"></i></div> -->
                                    <div class="timeline-label">
                                        <h4 class="timeline-title">Registration Closed</h4>
                                        <p></p>
                                    </div>
                                </div>
                            </article>
                            <article class="timeline-entry left-aligned">
                                <div class="timeline-entry-inner">
                                    <time datetime="2014-01-10T03:45" class="timeline-time"><span>21 Feb 2023
                                        </span><span>Tuesday</span></time>
                                    <div class="timeline-icon bg-green"><i class="fa fa-group"></i></div>
                                    <div class="timeline-label bg-green">
                                        <h4 class="timeline-title">Learning Phase</h4>

                                        <!-- <p>It's time to make capable to make your project learn technologies needed for project
                                </p> -->
                                    </div>
                                </div>
                            </article>
                            <article class="timeline-entry">
                                <div class="timeline-entry-inner">
                                    <time datetime="2014-01-09T13:22" class="timeline-time"><span>31 Feb 2023
                                        </span><span></span></time>
                                    <div class="timeline-icon bg-blue"><i class="fa fa-group"></i></div>
                                    <div class="timeline-label bg-blue">
                                        <h4 class="timeline-title">Development Phase</h4>
                                        <!-- <p>Start Development of your Project </p> -->
                                    </div>
                                </div>
                            </article>
                            <article class="timeline-entry left-aligned">
                                <div class="timeline-entry-inner">
                                    <time datetime="2014-01-10T03:45" class="timeline-time"><span>15 Mar 2023
                                        </span><span>Tuesday</span></time>
                                    <div class="timeline-icon bg-red"><i class="fa fa-group"></i></div>
                                    <div class="timeline-label bg-red">
                                        <h4 class="timeline-title">Project Submission</h4>

                                        <!-- <p>It's Time To Present Your Knowledge ! Submit Your Project
                                </p> -->
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>

            {%else%}
            {%endif%}
            <div class="container" id="register">
                <!-- Registration Forms  -->
                {% if hack[3] == 'hackathon' %}
                <form class="text-center border border-light p-5" method="post"
                    action="/hackathon/user_registration/{{hack[0]}}">

                    <p class="h4 mb-4">{{hack[1]}} Registration</p>

                    <div class="form-row mb-4">
                        <div class="col my-3">
                            <!-- Roll No -->
                            <input type="number" id="defaultRegisterFormFirstName" class="form-control" name="rno"
                                placeholder="Roll No" required>
                        </div>
                        <div class="col my-3">
                            <!-- Topic Name -->
                            <input type="text" id="defaultRegisterFormFirstName" class="form-control" name="topic"
                                placeholder="Topic Name" required>
                        </div>
                        <div class="col my-3">
                            <!-- Tech Used -->
                            <input type="text" id="defaultRegisterFormFirstName" class="form-control" name="tech"
                                placeholder="Technolgies Used" required>
                        </div>
                        <div class="col my-3">
                            <!-- Team name -->
                            <input type="text" id="defaultRegisterFormFirstName" class="form-control" name="teamname"
                                placeholder="Team Name" required>
                        </div>
                        <div class="col my-3">
                            <!-- Leader name -->
                            <input type="text" id="defaultRegisterFormFirstName" class="form-control" name="leadname"
                                placeholder="Enter Leader Name" required>
                        </div>
                        <div class="col my-3">
                            <!-- member 1 name -->
                            <input type="text" id="defaultRegisterFormFirstName" class="form-control" name="m1name"
                                placeholder="Enter Member Name" required>
                        </div>
                        <div class="col my-3">
                            <!-- member 2 name -->
                            <input type="text" id="defaultRegisterFormFirstName" class="form-control" name="m2name"
                                placeholder="Enter Member Name" required>
                        </div>
                        <div class="col my-3">
                            <!-- member 3 name -->
                            <input type="text" id="defaultRegisterFormFirstName" class="form-control" name="m3name"
                                placeholder="Enter Member Name" required>
                        </div>
                        <div class="col my-3">
                            <!-- member 4 name -->
                            <input type="text" id="defaultRegisterFormFirstName" class="form-control" name="m4name"
                                placeholder="Enter Member Name" required>
                        </div>

                        <button class="btn btn-info my-4 btn-block" type="submit">Register</button>
                </form>
                {%elif hack[3] == 'submition' %}
                <form class="text-center border border-light p-5" method="post"
                    action="/hackathon/user_registration/{{hack[0]}}">

                    <p class="h4 mb-4">{{hack[1]}} Registration</p>

                    <div class="form-row mb-4">
                        <div class="col my-3">
                            <!-- Roll No -->
                            <input type="number" id="defaultRegisterFormFirstName" class="form-control" name="rno"
                                placeholder="Roll No" required>
                        </div>
                        <div class="col my-3">
                            <!-- First name -->
                            <input type="text" id="defaultRegisterFormFirstName" class="form-control" name="leadname"
                                placeholder="Enter First & Last Name" required>
                        </div>
                        <div class="col my-3">
                            <!-- Topic Name -->
                            <input type="text" id="defaultRegisterFormFirstName" class="form-control" name="topic"
                                placeholder="Topic Name" required>
                        </div>
                        <div class="col my-3">
                            <!-- Tech Used -->
                            <input type="text" id="defaultRegisterFormFirstName" class="form-control" name="tech"
                                placeholder="Technolgies Used" required>
                        </div>

                        <button class="btn btn-info my-4 btn-block" type="submit">Register</button>
                    </div>
                </form>
                {%else%}
                <form class="text-center border border-light p-5" method="post"
                    action="/hackathon/user_registration/{{hack[0]}}">

                    <p class="h4 mb-4">{{hack[1]}} Registration</p>

                    <div class="form-row mb-4">
                        <div class="col my-3">
                            <!-- Roll No -->
                            <input type="number" id="defaultRegisterFormFirstName" class="form-control" name="rno"
                                placeholder="Roll No" required>
                        </div>
                        <div class="col my-3">
                            <!-- First Name -->
                            <input type="text" id="defaultRegisterFormFirstName" class="form-control" name="leadname"
                                placeholder="Enter First & Last Name" required>
                        </div>
                        <div class="col my-3">
                            <!-- Tech Used -->
                            <input type="text" id="defaultRegisterFormFirstName" class="form-control" name="tech"
                                placeholder="Technolgies Used" required>
                        </div>

                        <button class="btn btn-info my-4 btn-block" type="submit">Register</button>
                    </div>
                </form>
                {%endif%}
            </div>
        </div>
    </div>
</div>
</div>
{%endif%}
{% endblock body %}