* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.topbar {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    width: 100%;
    padding: 0 20px;
    height: 60px;
    display: grid;
    grid-template-columns: 2fr 10fr 0.4fr 1fr;
    align-items: center;
    z-index: 1;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo h2 {
    color: #0e168b;
}

.search {
    position: relative;
    width: 60%;
    justify-self: center;
}

.search input {
    width: 100%;
    min-width: 128px;
    height: 40px;
    padding: 0 40px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: #f5f5f5;
}

.search i {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.fa-bell {
    justify-self: right;
}

.user {
    position: relative;
    width: 50px;
    height: 50px;
    justify-self: right;
}


/* sidebar */

.sidebar {
    position: fixed;
    top: 60px;
    width: 260px;
    height: calc(100% - 60px);
    background: #2e25a7;
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    width: 100%;
    list-style: none;
}

.sidebar ul li:hover {
    background: #fff;
}

.sidebar ul li:hover a {
    color: #0e168b;
}

.sidebar ul li a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
}

.sidebar ul li a i {
    min-width: 60px;
    font-size: 24px;
    text-align: center;
}


/* main */

.main {
    position: absolute;
    top: 60px;
    width: calc(100% - 260px);
    min-height: calc(100vh - 60px);
    left: 260px;
    background: #f5f5f5;
}

.cards {
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.cards .card {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.number {
    font-size: 35px;
    font-weight: 500;
    color: #0e168b;
}

.card-name {
    color: #888;
    font-weight: 600;
}

.icon-box i {
    font-size: 45px;
    color: #0e168b;
}


/* charts */

.charts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    width: 100%;
    padding: 20px;
    padding-top: 0;
}

.chart {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    width: 100%;
}

.chart h2 {
    margin-bottom: 5px;
    font-size: 20px;
    color: #666;
    text-align: center
}

@media (max-width:1115px) {
    .sidebar {
        width: 60px;
    }
    .main {
        width: calc(100% - 60px);
        left: 60px;
    }
}

@media (max-width:880px) {
    /* .topbar {
        grid-template-columns: 1.6fr 6fr 0.4fr 1fr;
    } */
    .fa-bell {
        justify-self: left;
    }
    .cards {
        width: 100%;
        padding: 35px 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .charts {
        grid-template-columns: 1fr;
    }
    .doughnut-chart {
        padding: 50px;
    }
    #doughnut {
        padding: 50px;
    }
}

@media (max-width:500px) {
    .topbar {
        grid-template-columns: 1fr 5fr 0.4fr 1fr;
    }
    .logo h2 {
        font-size: 20px;
    }
    .search {
        width: 80%;
    }
    .search input {
        padding: 0 20px;
    }
    .fa-bell {
        margin-right: 5px;
    }
    .cards {
        grid-template-columns: 1fr;
    }
    .doughnut-chart {
        padding: 10px;
    }
    #doughnut {
        padding: 0px;
    }
    .user {
        width: 40px;
        height: 40px;
    }
}



.white_box {
    padding: 30px;
    background-color: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px
}

@media(max-width: 575.98px) {
    .white_box {
        padding:30px 25px
    }
}

.white_box .white_box_tittle h4 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0
}

@media(max-width: 991px) {
    .white_box .white_box_tittle h4 {
        margin-bottom:15px
    }
}

.white_card {
    background-color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.white_card .white_card_header {
    padding: 22px 30px
}

.white_card .white_card_body {
    padding: 5px 30px 25px
}

.white_box_50px {
    padding: 43px 45px 38px 50px;
    background-color: #fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px
}

@media(max-width: 575.98px) {
    .white_box_50px {
        padding:30px 25px
    }
}

.white_box_50px .white_box_tittle h4 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0
}

@media(max-width: 991px) {
    .white_box_50px .white_box_tittle h4 {
        margin-bottom:15px
    }
}

.white_box2 {
    padding: 40px 40px 25px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

@media(max-width: 575.98px) {
    .white_box2 {
        padding:30px 25px
    }
}

.white_box2 .white_box_tittle h4 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0
}

@media(max-width: 991px) {
    .white_box2 .white_box_tittle h4 {
        margin-bottom:15px
    }
}

.chart_box .white_box_tittle {
    margin-bottom: 20px
}

.chart_box .white_box_tittle h4 {
    margin-bottom: 2px
}

@media(max-width: 991px) {
    .chart_box .white_box_tittle h4 {
        margin-bottom:15px
    }
}

.chart_box p {
    margin-bottom: 29px;
    color: #707070
}

.chart_box label {
    margin-bottom: 0
}

.chart_box .b {
    display: block!important
}

.chart_box .toggle {
    position: relative;
    width: 44px;
    height: 22px;
    border-radius: 50px;
    background-color: #222;
    border: 1px solid #222;
    overflow: hidden
}

.chart_box .check {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 6
}

.chart_box .check:checked~.switch {
    right: 5px;
    left: 57.5%;
    transition: .25s cubic-bezier(.785,.135,.15,.86);
    transition-property: left,right;
    transition-delay: .08s,0s
}

.chart_box .switch {
    position: absolute;
    left: 5px;
    top: 3px;
    bottom: 2px;
    right: 57.5%;
    background-color: #fff;
    border-radius: 50%;
    z-index: 1;
    transition: .25s cubic-bezier(.785,.135,.15,.86);
    transition-property: left,right;
    transition-delay: 0s,.08s;
    height: 13px;
    width: 13px;
    padding: 6px!important;
    margin-right: 0
}

.chart_box .switch:after {
    display: none
}

.chart_box .hide {
    display: none!important
}



.QA_section .QA_table .table {
    background: #fff;
    border-radius: 10px;
    margin-bottom: 35px;
    padding-top: 20px
}

.QA_section .QA_table th,.QA_section .QA_table td {
    font-weight: 400;
    padding: 10px 15px;
    vertical-align: middle
}

.QA_section .QA_table .question_content {
    color: #7e7172;
    font-size: 13px
}

.QA_section .QA_table .question_content:hover {
    color: #2e4765
}

.QA_section .QA_table thead {
    padding-bottom: 10px
}

.QA_section .QA_table thead th {
    white-space: nowrap;
    padding-left: 0;
    border-bottom: 1px solid rgba(130,139,178,.3)!important
}

.QA_section .QA_table tbody tr:first-child td {
    border-top: 2px solid #222222;
}

.QA_section .QA_table tbody th {
    font-size: 14px;
    color: #6f7a92;
    font-weight: 400!important
}

.QA_section .QA_table tbody .btn_1 {
    background: #65f9b3;
    color: #fff;
    border: 0;
    font-size: 8px;
    padding: 0;
    height: 18px;
    width: 26px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 700
}

.QA_section .QA_table tbody img.user_thumb {
    width: 36px;
    height: 36px;
    border-radius: 3px
}

.QA_section .QA_table tbody img.check_status {
    width: 21px;
    height: 18px;
    border-radius: 3px
}

.QA_section .QA_table tbody th,.QA_section .QA_table tbody td {
    font-size: 14px;
    font-weight: 400;
    border-bottom: 0;
    background: #ffffff;
    border-bottom: 1px solid #222222;
    color: #000000
}

.QA_section .QA_table tbody th.pending,.QA_section .QA_table tbody td.pending {
    color: #e09079;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500
}

.QA_section .QA_table tbody th.priority_hight,.QA_section .QA_table tbody td.priority_hight {
    font-size: 14px;
    color: #d7598f;
    font-weight: 400
}

.QA_section .QA_table tbody tr {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border: 1px solid black;
}

.QA_section .QA_table tbody tr:hover {
    background: #fff
}

.QA_section .QA_table .view_btn {
    color: #2e4765
}

.QA_section .QA_table .view_btn:hover {
    text-decoration: underline
}

.QA_section .QA_table .table {
    margin-bottom: 0!important
}

.QA_section .QA_table .table thead th {
    border-bottom: 0 solid transparent;
    padding: 15px;
    border: 0 solid transparent;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    white-space: nowrap;
    text-transform: capitalize;
    font-family: merriweather sans,sans-serif;
    border: 0;
    background: #fff;
    border: 0!important;
    background: 0 0;
    border-top: 1px solid #f9f9f9!important;
    border-bottom: 1px solid #f9f9f9!important;
    position: relative
}

.QA_section .QA_table .table thead th:first-child {
    border-left: 1px solid #f9f9f9!important
}

.QA_section .QA_table .table thead th:last-child {
    border-right: 1px solid #f9f9f9!important
}

@media only screen and (min-width: 576px) and (max-width:767px) {
    .chart_box_1 .box_header {
        flex-direction:column
    }
}

.chart_box_1 .box_header .box_header_left {
    flex-basis: 50%
}

@media(min-width: 768px) and (max-width:991.98px) {
    .chart_box_1 .box_header .box_header_left {
        flex-basis:55%
    }
}

@media only screen and (min-width: 992px) and (max-width:1200px) {
    .chart_box_1 .box_header .box_header_left {
        flex-basis:55%
    }
}

@media only screen and (min-width: 576px) and (max-width:767px) {
    .chart_box_1 .box_header .box_header_left {
        flex-basis:100%;
        width: 100%;
        margin-bottom: 20px
    }
}

.chart_box_1 .box_header .box_header_left ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.chart_box_1 .box_header .box_header_left ul li {
    display: inline-block;
    text-align: center
}

@media(max-width: 575.98px) {
    .chart_box_1 .box_header .box_header_left ul li {
        flex:50% 0 0;
        margin-bottom: 20px
    }
}

.chart_box_1 .box_header .box_header_left ul li h4 {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0
}

.chart_box_1 .box_header .box_header_left ul li p {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 0
}

.chart_box_1 .box_header .box_header_right .legend_circle ul li {
    color: #6f7a92;
    font-size: 12px;
    font-weight: 400;
    margin-right: 30px;
    display: inline-block
}

@media(max-width: 575.98px) {
    .chart_box_1 .box_header .box_header_right .legend_circle ul li {
        margin-right:14px
    }
}

.chart_box_1 .box_header .box_header_right .legend_circle ul li:last-child {
    margin-right: 0
}

.chart_box_1 .box_header .box_header_right .legend_circle ul li span {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px
}

.status_btn {
    display: inline-block;
    padding: 2px 15px;
    font-size: 11px;
    font-weight: 300;
    color: #2bd27f!important;
    background: #e7fbf0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-transform: capitalize;
    white-space: nowrap;
    min-width: 70px;
    text-align: center
}

.status_btn.yellow_btn {
    background: #ffba00
}

.status_btn.pending_btn {
    background: #e5f2ff;
    color: #1598ff!important
}

.status_btn:hover {
    color: #fff
}


.header-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.sort-group{
    padding: 5px 10px;
    background-color: white;
    border: none;
}