* {
    margin: 0;
    padding: 0;
}

nav {
    border-bottom: 1px solid rgb(189, 189, 192);
}

.outerNav {
    height: 10vh;
    width: 100%;
    /* padding: 10px;
    padding-left: 20rem; */
    background: rgb(235, 232, 232);
}

.innerNav {
    width: 100%;
    position: fixed;
    padding-left: 20pc;
}

.sideNav {
    border-right: 1px solid rgb(189, 189, 192);
    padding-top: 10vh;
    /* background-color: rgb(215, 219, 235); */
    width: 17%;
    height: 100vh;
    position: fixed;
}

.link-nav-con {
    display: flex;
    align-items: center;
}

.link-nav {
    padding-right: 15px;
    padding-left: 15px;
}

.profile-pic {
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 30px;
}
.profile-session-pic{
    border: 1px;
    border-radius: 10px;
}

.resume-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-nav-link-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.side-nav-social-con {
    display: flex;
    flex-direction: column;
}

.side-nav-social-link {
    margin-left: auto;
    padding: 5px 20px;
    width: 90%;
    text-align: left;
    font-weight: bolder;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    margin-top: 10px;
}

.side-nav-social-link-youtube {
    margin-left: auto;
    padding: 5px 20px;
    width: 90%;
    text-align: left;
    font-weight: bolder;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    margin-top: 10px;
}

.side-nav-link {
    margin-left: auto;
    text-align: left;
    width: 90%;
    padding: 5px 30px;
    border: 1px;
    font-family: 'Roboto', sans-serif;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-decoration: none;
    margin-top: 20px;
    color: rgb(69, 69, 72);
}

.side-nav-link:hover {
    color: black;
    background: linear-gradient(white, rgb(182, 182, 227));
}

.nav-active {
    color: black;
    font-weight: bold;
    background: linear-gradient(white, rgb(182, 182, 227));
}

.badge-success {
    font-family: "DM Sans";
    font-weight: bold;
    background-color: rgb(8, 234, 8);
    border: 1px;
    border-radius: 5px;
    padding: 0;
}

.btn-resume {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #0804e6;
    padding: 1rem 2rem;
    background: linear-gradient(rgb(172, 159, 230), rgb(164, 174, 228));
    transition: 0.2s;
    border: 1px;
    box-shadow: 5px 5px rgb(157, 157, 245);
    cursor: pointer;
    transition: all 1s ease-in-out;
}


.btn-resume:hover {
    color: black;
    background: linear-gradient(rgb(87, 87, 199), white);
    background-blend-mode: lighten;
}

.Nav-icon {
    font-size: 30px;
    margin-left: 50px;
}

.nav-logo {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* common section for users  */

.common-user-section {
    padding-left: 20rem;
    padding-top: 5rem;
}

/* profile session start here  */


.card {
    border-radius: 20px;
}

.progress-shor-card {
    padding: 0px 5px;
}

.inner-progress-card {
    border-radius: 20px;
    display: flex;
    background-color: rgb(235, 224, 224);
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.inner-progress-card h5 {
    font-weight: bold;
    color: rgb(81, 80, 82);
    font-family: 'Roboto Slab', serif;
}

.inner-progress-card h6 {
    font-weight: bolder;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
}

.problem-graph{
    padding: 20px 5px;
    display: flex;
}
.navbar-toggler{
    display: none;
}

.conprof{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* making responsive  */

@media screen and (max-width:1036px) {
    /* profile page responsiveness  */
    .btn-resume{
        padding: 5px;
    }
    .side-nav-link{
        font-size: 12px;
        width: 20vw;
    }
    .side-nav-social-link{
        font-size: 12px;
        width: 20vw;
    }
    .side-nav-social-link-youtube{
        font-size: 12px;
        width: 20vw;
    }  
    .common-user-section{
        padding-left: 13rem;
    }
}

@media screen and (max-width:700px){
    .sideNav{
        width: 22%;
    }
    .side-nav-link{
        width: 25vw;
    }
    .side-nav-social-link-youtube{
        width: 23vw;
    }
}

@media screen and (max-width:650px){
    .sideNav{
        display: none;
    }
    .common-user-section{
        padding: 5rem 0;
    }
    .navbar-toggler{
        display: block;
    }
    .conprof{
        text-align: center;
        padding: 10px;
    }
}

