{% extends "Layout.html"%}
{% block Title%} Home Page {%endblock Title%}

{% block body%}

{%if msg%}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success</strong> {{msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{%elif error%}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong></strong> {{error}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{%else%}

{%endif%}
<!-- Default form login -->
<div class="container my-4 gradient-form"
    style="display: flex; flex-direction: column; justify-content: center; align-items: center; ">
    {{user}}
    <form class="text-center border border-light p-5" method="post" action="/login">
        <p class="mb-4">Please login to your account</p>
        <div class="mb-4">
            <input type="email" id="form2Example11" class="form-control" name="email" placeholder="E-mail" required>
            <!-- <label class="form-label" for="form2Example22">Username</label> -->
        </div>

        <div class="mb-4">
            <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" name="password"
                placeholder="Password" required>
            <!-- <label class="form-label" for="form2Example22">Password</label> -->
        </div>
        <div class="text-center pt-1 mb-5 pb-1">
            <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Log
                in</button>
            <a class="text-muted" href="#!">Forgot password?</a>
        </div>

        <div class="d-flex align-items-center justify-content-center pb-4">
            <p class="mb-0 me-2">Don't have an account?</p>
            <button type="button" class="btn btn-outline-primary"><a href="/register">Create New</a></button>
        </div>

        <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
        <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
        <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
        <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>

    </form>
</div>
<!-- Default form login -->
{% endblock body %}