{% extends "Layout.html"%}
{% block Title%} Contact Us {%endblock Title%}


{% block body%}
<!-- {{username}} -->
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-7">
            <div class="card p-3 py-4">
                <div class="text-center">
                    <img src="https://i.imgur.com/bDLhJiP.jpg" width="100" class="rounded-circle">
                </div>
                <div class="text-center mt-3">
                    <h5 class="mt-2 mb-0">{{username}}</h5>
                    <span>Student At IMRD</span>
                    <div class="px-4 mt-1">
                        <p class="fonts">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat. </p>
                    </div>
                    <div class="social-list d-flex">
                        <i class="fa fa-facebook px-3"></i>
                        <i class="fa fa-dribbble px-3"></i>
                        <i class="fa fa-instagram px-3"></i>
                        <i class="fa fa-google px-3"></i>
                        <i class="fa fa-linkedin px-3"></i>
                    </div>
                    <div class="buttons">
                        <button class="btn btn-outline-primary px-4">Message</button>
                        <button class="btn btn-primary px-4 ms-3">Contact</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body%}