{% extends "Layout.html"%}
{% block Title%} Home Page {%endblock Title%}

{% block body%}

{%if msg%}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success</strong> {{msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{%elif error%}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong></strong> {{error}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{%else%}
{%endif%}
<!-- Default form register -->
<div class="container my-4"
    style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <!-- {{error}} -->
    <form class="text-center border border-light p-5" method="post" action="/register">

        <p class="h4 mb-4">Sign up</p>

        <div class="form-row mb-4">
            <div class="col my-3">
                <!-- First name -->
                <input type="text" id="defaultRegisterFormFirstName" class="form-control" name="fname" placeholder="First name" required>
            </div>
            <div class="col">
                <!-- Last name -->
                <input type="text" id="defaultRegisterFormLastName" class="form-control" name="lname" placeholder="Last name" required>
            </div>
        </div>

        <!-- E-mail -->
        <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" name="email" placeholder="E-mail" required>

        <!-- Password -->
        <input type="password" id="defaultRegisterFormPassword" class="form-control" name="password" placeholder="Password"
            aria-describedby="defaultRegisterFormPasswordHelpBlock" required>
        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
            At least 8 characters and 1 digit
        </small>


        <!-- phone number  -->
        <!-- <input type="text" id="defaultRegisterPhonePassword" class="form-control" name="phone" placeholder="Phone number"
            aria-describedby="defaultRegisterFormPhoneHelpBlock" required> -->

        <button class="btn btn-info my-4 btn-block" type="submit">Create Account</button>


        <p>If You Already Had Account
            <em>Click Here</em> To
            <a href="/login">Login</a>

    </form>
</div>
{% endblock body %}