<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block Title%}{% endblock Title%}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- custom css  -->
    {%block custmcss%}{%endblock custmcss%}
    <!-- cdn bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/maincss.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_updated.css') }}">
    {%block authcss%}
    {%endblock authcss%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <!-- Navbar End -->
    <div class="container-xxl">
        <nav class="navbar navbar-expand-lg navbar-light  p-0 ">
            <a href="/" class="navbar-brand mx-4">
                <h1 class="m-0">IMRD<span class="fs-5">TechClub</span></h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/" class="nav-item nav-link">Home</a>
                    <a href="/about" class="nav-item nav-link">About</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Competition</a>
                        <div class="dropdown-menu m-0">
                            <a href="/events" class="dropdown-item">H2S Hackathons</a>
                            <a href="/inside_event" class="dropdown-item">IMRDChallenges</a>
                        </div>
                    </div>
                    <a href="/roadmaps" class="nav-item nav-link">Roadmaps</a>
                    <a href="/learning-path" class="nav-item nav-link">Learning Path</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu m-0">
                            <a href="/about" class="dropdown-item">Our Team</a>
                            <a href="/help-room" class="dropdown-item">Help Room</a>
                            <a href="#" class="dropdown-item">Privary Policy</a>
                        </div>
                    </div>
                    <a href="/contact" class="nav-item nav-link">Contact</a>
                </div>
                <div class="mx-4">
                    {% if username %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle link-nav d-flex justify-content-center align-items-center"
                            href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="profile-icon">
                                <h2>{{username[0]}}</h2>
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/user" style="padding: 5px 15px;" class="nav-link">Profile</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <a href="/login" class="btn btn-secondary" style="border-radius: 0; color: white;">Sign Up</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
    {% block body %}

    {% endblock body%}

    <!-- Manual JavaScript -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Auth.js') }}"></script>
    {%block custmjs%}{%endblock custmjs%}
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>